.prompt{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    margin-bottom:100px;
    background-color:green;
}